.header_ul
{
    list-style-type:none;
    margin:0;
	border-bottom:1px solid black;
    padding: 4px 8px 0 16px;
    overflow:hidden;
    background-color:#8080FF;
}
.header_li
{
    float:left;
    margin:0 8px 4px 0;
}
.button:link, .button:visited
{
    display:block;
    width:120px;
    color:black;
    background-color:#C0C0FF;
    text-align:center;
    padding:4px;
    text-decoration:none;
    font-family:"Times New Roman", serif;
    font-size:24px;
}
.button:hover, .button:active
{
    background-color:#FFFFFF;
}
body
{
    background-color:#C0C0C0;
    background-attachment:fixed;
	overflow-y:scroll;
}
div.container
{
    margin:0 auto 15px auto;
	border:1px solid black;
    background-color:#F0F0F0;
	max-width:1024px;
    padding:0;
	overflow-x:hidden;
}
div.content
{
	padding: 0 16px;
}
h1
{
    font-family:"Times New Roman", serif;
    font-size:36px;
}
li
{
    font-family:"Times New Roman", serif;
    font-size:20px;
}
p
{
    font-family:"Times New Roman", serif;
    font-size:20px;
}
