body
{
    background-color:#C0C0C0;
}

div.container
{
    margin:0 auto;
    background-color:#F0F0F0;
    padding:16px;
}

canvas
{
    margin-left:auto;
    margin-right:auto;
    display: block;
}
